body
{
  background-color: #ddd;
}

.wrapper
{
  background-color: #fcfcfc;
  max-width: 80%;
  display: block;
  margin: 0 auto;
  min-height: 800px;
}

.banner-img
{
  width: 100%;
  height: 300px;
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-body
{
  max-width: 95%;
  display: block;
  margin: 0 auto;
}

form input
{
  height: 30px;
  width: 400px;
  margin: 5px 0 5px 0;
}

img.recipe-img
{
  max-height: 50%;
  max-width: 50%;
  margin: 0 auto;
  display: block;
}

img#clippy
{
  right: 0;
  bottom: 0;
  position: fixed;
  max-width: 3%;
  max-height: 3%;
}
