{% extends "main.html"}
{% block body %}

<div class="text-body">
    {% if session.user %}
    <h1>{{ user.name }} - favorites</h1>

    {% if len(session.favorites) == 0 %}
    <h4>No favorites</h4>
    {% else %}
    {% for favorite in user.favorites %}
    <a class="favorite-link" href="{{ url_for('recipe/' + favorite.recipe_id) }}">
        {{ favorite.get_recipe().name }}
    </a>
    {% endif %}

    {% else %}
    <h1>Please log in to see favorites.</h1>
    <!-- Redirect button -->
    {% endif %}
</div>
