<!DOCTYPE HTML>
<html>
    <head>
        <title>Recipe Garden</title>
    </head>
    <body>
        <div class="page">
            <h1>Recipe Garden</h1>
            {% block body %} {% endblock %}
        </div>
    </body>
</html>
