{% extends "main.html" %}
{% block body %}

<div class="text-body">
  <h1>My Recipes</h1>

  {% if recipes %}
  <div class="row">
    <div class="col-sm-6 col-md-4">
      {% for n in range(recipes|length) %}
      {% if n % 3 == 0 %}
      <a href="{{ '/recipe/%s' % recipes[n].id }}">
        <div class="thumbnail">
          <img src="{{ recipes[n].image_path }}" />
          <div class="caption">
            <h3>{{ recipes[n].name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div class="col-sm-6 col-md-4">
      {% for n in range(recipes|length) %}
      {% if n % 3 == 1 %}
      <a href="{{ '/recipe/%s' % recipes[n].id }}">
        <div class="thumbnail">
          <img src="{{ recipes[n].image_path }}" />
          <div class="caption">
            <h3>{{ recipes[n].name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <div class="col-sm-6 col-md-4">
      {% for n in range(recipes|length) %}
      {% if n % 3 == 2 %}
      <a href="{{ '/recipe/%s' % recipes[n].id }}">
        <div class="thumbnail">
          <img src="{{ recipes[n].image_path }}" />
          <div class="caption">
            <h3>{{ recipes[n].name }}</h3>
          </div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% else %}
  <h4>You haven't submitted any recipes! <a href="/new-recipe">Add your first?</a></h4>
  {% endif %}

</div>

{% endblock %}
