{% extends "main.html" %}
{% block body %}

<div class="text-body">
  <h1>Add a new recipe</h1>
  <form action"{{ url_for('new_recipe_page') }}" method="post">
    <h4>Name</h4>
    <input type="text" name="name" placeholder="Recipe name" style="width: 500px;"/><br />
    <h4>Ingredients</h4>
    <textarea name="ingredients" placeholder="Separate ingredients with commas (e.g. '3 potatoes, 3 cups corn, 1 tbsp salt, 6 oz mushrooms')" style="width: 500px; height: 100px;"></textarea>
    <h4>Directions</h4>
    <textarea name="directions" placeholder="Separate directions with commas (e.g. 'Cut all veggies and mince the garlic, Add the olive oil to a large pot on medium heat, Sautee the onion until caramelized')" style="width: 500px; height: 100px;"></textarea>
    <h4>Image Link</h4>
    <input type="text" name='img-path' placeholder="https://link-to-image.com/image-path" style="width: 500px;"/><br />
    <input type="submit" style="margin-top: 15px; width: 500px;"/>
  </form>
</div>

{% endblock %}
