{% extends "main.html" %}
{% block body %}

<div class="text-body">

  <h1>{{ recipe.name }}</h1>
  <h4>Author: {{ recipe.get_author().name }}</h4>

  <!-- INGREDIENTS -->
  <h4>Ingredients:</h4>
  <ul class="ingredients">
    {% for ingredient in recipe.get_ingredients() %}
    <li>{{ ingredient.amount }} {{ ingredient.ingredient }}</li>
    {% endfor %}
  </ul>
  <!-- END INGREDIENTS -->

  <!-- DIRECTIONS -->
  <h4>Directions:</h4>
  <ol class="directions">
    {% for direction in recipe.get_directions() %}
    <li>{{ direction }}</li>
    {% endfor %}
  </ol>
  <!-- END DIRECTIONS -->

  <!-- FAVORITE -->
  {% if user %}
    {% if recipe in user.get_favorites() %}
      <form action="{{ url_for('recipe_page', recipe_id=recipe.id) }}" method="post">
        <input type="submit" name="rm-fav" class="fav-btn" value="Remove from favorites"/>
      </form>
    {% else %}
      <form action="{{ url_for('recipe_page', recipe_id=recipe.id) }}" method="post">
        <input type="submit" name="add-fav" class="fav-btn" value="Add to favorites" />
      </form>
    {% endif %}
  {% endif %}
  <!-- END FAVORITE -->

</div>

{% endblock %}
