{% extends "main.html" %}
{% block body %}

<div class="text-body">
  <h1>Register a new account</h1>
  <form action"{{ url_for('registration_page') }}" method="post">
    <input type="text" name="username" class="username-field" placeholder="Username"/><br />
    <input type="password" name="password" class="password-field" placeholder="Password"/><br />
    <input type="email" name="email" class="email-field" placeholder="Email" /><br />
    <input type="submit" value="Register"/>
  </form>
</div>

{% endblock %}
